body{
	background-color: rgba(0,55,55,.5);
	text-align: center;
	margin: 0;
}
main{
	width: 850px;
	margin: 35px auto;
}
header{
	background-color: #F15B31;
	color: #FFFFFF;
	padding:30px 20px;
}
h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-weight: 400
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}
nav{
	background-color: #00A6B3;
}
a{
	font-family: "Raleway",sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 20px;
}
h2, h3{
	font-family: "Raleway",sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 10px;
}
img{
	margin:40px 8px 0 8px;
}
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	font-family: "Raleway";
	float: left;
}
.message{
	font-family: "Raleway";
	float: right;
}
.clearfix:after{
	display: block;
	content: " ";
	clear: both;
}
.name{
	color: #F15B31;
	font-weight: 700;
}
a:hover{
	border-bottom: solid white 2px;
}