body{
	background-color: rgba(0,55,55,.5);
	text-align: center;
	margin: 0;
}
main{
	width: 850px;
	margin: 35px auto;
}
header{
	background-color: #F15B31; 
	color: #FFFFFF;
	padding:30px 20px;
}
h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}
nav{
	background-color: #00A6B3;
}
.link{
	font-family: "Raleway",sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 20px;
	padding: 0 10px;
	background-color: rgba(0,255,255,.2);
}
h2{
	font-family: "Raleway",sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 10px;
}

h3{
	font-family: "Raleway",sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	margin: 0px;
}
.score{
	background: #0D2C40;
	border: solid #F15B31 2px;
	display: inline-block;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	font-size: 30px;
	padding: 14px;
	color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
	margin:10px 8px 0 8px;

}
button{
	font-size: 18px;
	padding: 5px 10px;
	margin: 10px 0 5px 0;
	background-color: #F15B31;
	border: #F15B31 solid;
	border-radius: 12px;
	font-weight: 750;
}
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	font-family: "Raleway";
	float: left;
}
.message{
	font-family: "Raleway";
	float: right;
}
.clearfix:after{
	display: block;
	content: " ";
	clear: both;

}
.name{
	color: #F15B31;
	font-weight: 700;
}
.link:hover{
	border-bottom: solid white 2px;
}
button:hover{
	background-color: rgba(252, 127, 127, 0.863);
	border: rgba(255, 127, 127, 0.9) solid;
}